= link_to "Upvote",
          polymorphic_path([votable, @vote], :direction => "1"),
          :method => :post
= link_to "Downvote",
          polymorphic_path([votable, @vote], :direction => "-1"),
          :method => :post