= link_to "",
          polymorphic_path([votable, @vote], :direction => "1"),
          :method => :post,
          :class => "icon-chevron-up"
= link_to "",
          polymorphic_path([votable, @vote], :direction => "-1"),
          :method => :post,
          :class => "icon-chevron-down"
