- {"up" => 1, "down" => -1}.each do |direction, value|
  = link_to "",
            polymorphic_path([votable, @vote], :direction => value),
            :method => :post,
            :class => "icon-chevron-#{direction}"
