%h1= link_to @commentable.title, @commentable.url
= render :partial => 'comments/form', :locals => {:commentable => @commentable}
%ul= render :partial => @commentable.comments, :locals => {:commentable => @commentable}
